<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <mat-icon class="grid-item add-icon" type="submit" (click)="clicou()" aria-hidden="false"
      aria-label="Example home icon" fontIcon="save" />
    <mat-icon class="grid-item add-icon" type="button" (click)="incluirProduto()" aria-hidden="false"
      aria-label="Example home icon" fontIcon="delete" />
    <span class="grid-item page-title">
      Cadastro de Produto
    </span>
  </nav>

  <div class="container-central">
    <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <div class="col-2">
          <label for="codigo">Código</label>
          <input id="codigo" formControlName="codigo" class="form-control">


          <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('email')"
            msgErro="email é obrigatório."></app-campo-control-erro>
          
          <app-campo-control-erro [mostrarErro]="formulario.get('email').status === 'PENDING'"
            msgErro="Validando email..."></app-campo-control-erro>
          <app-campo-control-erro [mostrarErro]="formulario.get('email').status === 'VALID'"
            msgErro="Email válido"></app-campo-control-erro>
          <app-campo-control-erro [mostrarErro]="formulario.get('email').hasError('emailInvalido')"
            msgErro="Email já cadastrado"></app-campo-control-erro> -->

        </div>

        <div class="col-4">
          <label for="descricao">Descrição</label>
          <input id="descricao" formControlName="descricao" class="form-control">

          <!-- <app-campo-control-erro [mostrarErro]="formulario.get('confirmarEmail').hasError('equalsTo')"
            msgErro="Emails não são iguais"></app-campo-control-erro> -->
        </div>

        <div class="col-2">
          <label for="custo">Custo</label>
          <input id="custo" formControlName="custo" class="form-control">

          <!-- <app-campo-control-erro [mostrarErro]="formulario.get('confirmarEmail').hasError('equalsTo')"
            msgErro="Emails não são iguais"></app-campo-control-erro> -->
        </div>

        <!-- <div class="col-2">
          <label for="precoVenda">Preço de venda</label>
          <input id="precoVenda" formControlName="precoVenda" class="form-control">

          <app-campo-control-erro [mostrarErro]="formulario.get('confirmarEmail').hasError('equalsTo')"
            msgErro="Emails não são iguais"></app-campo-control-erro>
        </div> -->
      </div>


      <!-- <button type="submit" class="btn btn-primary">Enviar</button> -->

      <!-- <app-form-debug [form]="formulario"></app-form-debug> -->
    </form>
  </div>

  <div class="container-central">
    <grid (editar)="onEdit($event)" />
  </div>
</div>