.row {
  margin-left: 0
}

.row>* {
  padding-left: 0
}

.container-fluid {
  padding: 0
}

.container-central {
  padding: 20px 40px
}

.navbar {
  padding: 15px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 20fr;

  .grid-item {
    margin: auto
  }

  .page-title {
    font-weight: bold;
    font-size: 1rem;
  }

  .add-icon {
    font-size: 2rem
  }
}

.mat-icon {
  width: 30px;
  height: 30px
}

.erro {
  border: 1px solid var(--color-red)
}