<div class="container-modal">
  <div class="cabecalho">
    <mat-icon class="icone-cabecalho" type="button" (click)="salvarPrecoELoja()" aria-hidden="false"
      aria-label="Example home icon" fontIcon="save" />

    <span class="grid-item page-title">
      Alteração/Inclusão de Preço
    </span>

    <mat-icon class="icone-cabecalho" type="button" (click)="fecharModal()" aria-hidden="false"
      aria-label="Example home icon" fontIcon="close" />
  </div>
  <div class="container-conteudo" mat-dialog-content>
    <div class="container-item item-loja">
      <label>Loja *</label>
      <dropdown [options]="options" (editarObjetoProduto)="trocarLoja($event)" />
    </div>

    <div class="container-item item-venda">
      <label>Preço de venda (R$)*</label>
      <input [(ngModel)]="precoVenda">
    </div>
  </div>
</div>