<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      Não há registros para serem visualizados
    </div>
  </div>

  <div class="container-icone-tabela">
    <mat-icon class="icone-add-loja" type="button" (click)="adicionarLojaPreco()" aria-hidden="false"
      aria-label="Example home icon" fontIcon="add_circle_outline" />

    <div class="example-table-container">
      <table mat-table [dataSource]="arrayProdutos" class="example-table" matSort matSortActive="codigo"
        matSortDisableClear matSortDirection="desc">

        <ng-container matColumnDef="loja">
          <th mat-header-cell *matHeaderCellDef>Loja</th>
          <td mat-cell *matCellDef="let produto">{{produto.loja_desc}}</td>
        </ng-container>

        <ng-container matColumnDef="precoVenda">
          <th mat-header-cell *matHeaderCellDef>Preço de venda</th>
          <td mat-cell *matCellDef="let produto">{{produto.preco_venda}}</td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
            Ações
          </th>
          <td mat-cell *matCellDef="let produto" class="text-center">
            <div class="d-flex align-items-center justify-content-end">
              <mat-icon type="button" (click)="excluirProdutoLoja(produto.id_loja)" aria-hidden="false"
                aria-label="Example home icon" fontIcon="delete" />

              <mat-icon type="button" (click)="editarProdutoLoja(produto)" aria-hidden="false"
                aria-label="Example home icon" fontIcon="edit" />
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let produto; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="limit" [pageIndex]="currentPage"
    (page)="trocarDePagina($event)" />
</div>